html {
    font-size: 30px;
    font-family: "Pacifico", cursive;
    background-color: #00539F;
}

p:hover {
    color: red;
}

h1 {
    font-size: 60px;
    text-align: center;

    margin: 0;
    padding: 20px 0;
    text-shadow: 4px 4px 2px grey;
}

h2 {
    text-align: center;
}

p, li {
    font-size: 25px;
    line-height: 3;
    letter-spacing: 1px;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid teal
}

img {
    display: block;
    margin: 0 auto;
}